#sld {
    box-sizing: border-box;
    border: 20px solid #969696;
    background: #d9dbda;
    margin-left: 900px;
  }
  
  #sl {
    box-sizing: border-box;
    border: 20px solid #969696;
    background: #d9dbda;
  }

  .scroll-reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
  }

  #myElement {
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 4s steps(20) 1s infinite;
  }
  
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }


    /* CSS */
    #imageContainer {
      position: relative;
      overflow: hidden;
    }
    
    .imagePiece {
      position: absolute;
      transition: transform 0.5s;
      background-repeat: no-repeat;
    }


      .animate {
        animation: animatePiece 5s linear forwards;
      }
      
      @keyframes animatePiece {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(400px, 400px);
        }
      }

#ncolor{
    color: azure;
}