.ticker-news {
  width: 7000px;
  padding: 10px 0;
  color: #ffffff;
  font-size: 36px;
  text-transform: uppercase;
  text-shadow: 0 0 5px rgba(0,0,0,1); 
  
}

.ticker-news > * {
  display: inline-block;
  animation: news 20s infinite linear;
}

@keyframes news {
  0% {transform: translateX(0);}
  100% {transform: translateX(-4135px);}
}





